<!DOCTYPE html>
<html lang="cs" class="no-js">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description"
          content="Aktivujte silné regenerační a ozdravné schopnosti svého těla díky jednoduchým a účinný technikám autentické jógy. Jendoduché pozice - maximální výsledek."/>
    <meta property="og:description"
          content="Aktivujte silné regenerační a ozdravné schopnosti svého těla díky jednoduchým a účinný technikám autentické jógy. Jendoduché pozice - maximální výsledek."/>
    <meta property="og:url" content="http://jogamajstri.cz">
    <meta property="og:image" content="http://jogamajstri.cz<%= require('./images/Pavel.jpg') %>">
    <title>JogaMajstři</title>
</head>
<body>

<div class="top-bar" id="top-bar">
    <div class="row column">
        <div class="top-bar-title">
            <h1>JogaMajstři</h1>
        </div>

        <div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><a href="#uvod">Úvod</a></li>
                    <!--<li><a href="#o-mne">O mně</a></li>-->
                    <li><a href="#kurzy">Kurzy</a></li>
                    <li><a href="#kontakty">Kontakty</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header class="row column expanded text-center thing-with-anchor" id="uvod">
    <div class="row column">
        <h2>V jednoduchosti je síla</h2>
    </div>
</header>
<main class="row column">
    <!--<section id="o-mne">-->
    <!--<h1>O mně</h1>-->
    <!--<p>Jógu dělám od roku 2002, s různou intenzitou - od 20 minut po několik hodin denně. Ani vlastně nevím proč,-->
    <!--vždy mě to táhlo a cítím, že je to prostě potřeba. Jóga mi dává to co mi nikdo ani nic na světě nemůže dát - -->
    <!--vnitřní jistotu, stabilitu, spokojenost, vnitřní mír, pocit štěstí, naplnění, inspiraci, atd. (vyzkoušeno a-->
    <!--prověřeno v různých těžkých životních situacích)</p>-->
    <!--<p>Protože mě dost často zmáhá lenost a pravidelnost cvičení upadá, nebyla jiná možnost dát se na dráhu-->
    <!--cvičitele a mít nad sebou bič :)</p>-->
    <!--<p>Tak jsem se postupně stal mezinárodním cvičitelem Systému Jógy v Denním životě, který sestavil můj nadevše-->
    <!--uctívaný Guru Paramhans Svámí Mahéšvarananda.Je to klasický systém, který nabízí i spirituálně hledajícím-->
    <!--zájemcům autentickou duchovní a bezpečnou cestu k tomu nejvyššímu poznání. Pro osoby se zdravotními problémy-->
    <!--nabízí pomoc k vylepšení stavu, rehabilitaci nebo úplné uzdravení. Pro lidi kteří se jdou jen protáhnout a-->
    <!--nic víc je nezajímá, tak ti si tu přijdou také na své.</p>-->
    <!--<p>Na jógu je nejlepší přijít, když jste zkrácení, všechno vás bolí, neůžete třeba spát, máte trávicí obtíže,-->
    <!--problémy s pokožkou, ve stresu, depresi - potom máte možnost zažít až neuvěřitelné účinky jógy (pokud jí-->
    <!--tedy pravidelně denně cvičíte). Ten kdo je zdravý a nic ho netrápí, tak ten zlepší svojí imunitu a celkové-->
    <!--osvěží a dodá novou šťávu do jeho dalšího počínání.</p>-->
    <!--<p>Abych józe rozuměl ještě víc, studoval jsem ájurvédu u indického doktora (OMD. George Easseye) bohužel jen po-->
    <!--dobu 1 roku, dále jsem vystudoval Fyzioterapii na 1.LF UK a v současné době Tradiční Čínskou medicínu - -->
    <!--Akupunkturu a Tuinu, kde jsem ve 3. Ročníku 1. Školy tradiční čínské medicíny.</p>-->
    <!--<p>Ve volných chvílích lezu na skalách všude možně, popíjím čaj a kuju pikle..</p>-->
    <!--</section>-->
    <section id="kurzy">
        <section>
            <h1>Kurzy na období 2/2019 - 6/2019</h1><article class="row">
            <div class="large-6 medium-12 small-12 columns course">
                <h3>Úterý 18:30 - 20:00</h3>
                <div class="group">
                    <div class="header">Úroveň</div>
                    <div class="decription">Pokročilí</div>
                </div>
                <div class="group">
                    <div class="header">Termín</div>
                    <div class="description">5.2.2019 - 18.6.2019</div>
                </div>
                <div class="group">
                    <div class="header">Adresa</div>
                    <div class="description">
                        Dělnická 1020/54<br/>
                        Praha 7 - Holešovice<br/>
                        (budova Drutěva, 3. Patro, v postorách Kliniky Pivoňka)
                    </div>
                </div>
                <div class="group">
                    <div class="header">Permanentky</div>
                    <div class="description">
                        <ul>
                            <li>3230 Kč / 19 lekcí</li>
                        </ul>
                        <span class="notice">12% z permic jde na humanitární účely do Indie.</span>
                    </div>
                </div>
                <div class="group">
                    <div class="header">Jednotlivé vstupné</div>
                    <div class="description">220 Kč</div>
                </div>
                <div class="group">
                    <div class="header">Kapacita</div>
                    <div class="description">30 lidí</div>
                </div>
            </div>
            <div class="large-6 medium-12 small-12 columns">
                <div class="map" id="tuesday"></div>
            </div>
        </article>
            <article class="row">
                <div class="large-6 medium-12 small-12 large-push-6 columns course">
                    <h3>Čtvrtek 17:00 - 18:30</h3>
                    <div class="group">
                        <div class="header">Úroveň</div>
                        <div class="decription">Začátečnící</div>
                    </div>
                    <div class="group">
                        <div class="header">Termín</div>
                        <div class="description">od 7.2.2019</div>
                    </div>
                    <div class="group">
                        <div class="header">Adresa</div>
                        <div class="description">
                            Jógacentrum<br/>
                            Velehradská 21<br/>
                            Praha 3 - Vinohrady
                        </div>
                    </div>
                    <div class="group">
                        Více informací o kurzu a způsobu přihlašování naleznete na stránách
                        <a href="https://joga.cz/jogacentra/hlavni-mesto-praha-4/praha-a-okoli">Jógy v denním životě</a>.
                    </div>
                </div>
                <div class="large-6 medium-12 small-12 large-pull-6 columns">
                    <div class="map" id="thursday"></div>
                </div>
            </article>
        </section>
        <section>
            <h1>Kurzy na období 10/2018 - 1/2019</h1>
            <article class="row">
                <div class="large-6 medium-12 small-12 columns course">
                    <h3>Úterý 18:30 - 20:00</h3>
                    <div class="group">
                        <div class="header">Úroveň</div>
                        <div class="decription">Začátečnící</div>
                    </div>
                    <div class="group">
                        <div class="header">Termín</div>
                        <div class="description">2.10.2018 - 18.12.2018 a 8.1.2019 - 29.1.2019</div>
                    </div>
                    <div class="group">
                        <div class="header">Adresa</div>
                        <div class="description">
                            Dělnická 1020/54<br/>
                            Praha 7 - Holešovice<br/>
                            (budova Drutěva, 3. Patro, v postorách Kliniky Pivoňka)
                        </div>
                    </div>
                    <div class="group">
                        <div class="header">Permanentky</div>
                        <div class="description">
                            <ul>
                                <!--<li>Cena bude doplněna po upřesnění termínu kurzů.</li>-->
                                <li>2700 Kč / 16 lekcí, při zaplacení do 14.9.2018</li>
                                <li>3200 Kč / 16 lekcí, při zaplacení po 14.9.2018</li>
                            </ul>
                            <span class="notice">12% z permic jde na humanitární účely do Indie.</span>
                        </div>
                    </div>
                    <div class="group">
                        <div class="header">Jednotlivé vstupné</div>
                        <div class="description">220 Kč</div>
                    </div>
                    <div class="group">
                        <div class="header">Kapacita</div>
                        <div class="description">30 lidí</div>
                    </div>
                </div>
                <div class="large-6 medium-12 small-12 columns course">
                    <h3>Čtvrtek 17:00 - 18:30</h3>
                    <div class="group">
                        <div class="header">Úroveň</div>
                        <div class="decription">Začátečnící</div>
                    </div>
                    <div class="group">
                        <div class="header">Termín</div>
                        <div class="description">od 4.10.2018</div>
                    </div>
                    <div class="group">
                        <div class="header">Adresa</div>
                        <div class="description">
                            Jógacentrum<br/>
                            Velehradská 21<br/>
                            Praha 3 - Vinohrady
                        </div>
                    </div>
                    <div class="group">
                        Více informací o kurzu a způsobu přihlašování naleznete na stránách
                        <a href="https://joga.cz/jogacentra/hlavni-mesto-praha-4/praha-a-okoli">Jógy v denním životě</a>.
                    </div>
                </div>
            </article>
        </section>
        <section>
            <h3>O kurzech</h3>
            <p>Všechna cvičení probíhají podle autentického systému Paramhansa Svámího Mahéšwaranandy: systém jóga v
                denním životě (JDŽ), toto cvičení je zaměřeno na rehabilitaci těla, duše a mysli. Necvičíme složité
                cviky, v jednoduchosti je síla.</p>
            <p>Skrze toto cvičení budete mít zdravé tělo,rozvinutou a bystrou mysl, vyvážené emoce, rozvinete pravé
                lidské vlastnosti, poznáte, kdo jste, odkud pocházíte a kam míříte. Posílíte nervový systém, a tak se
                naučíte vypořádat s těžkými životními situacemi.</p>
            <p>Jóga není jen cvičení pozic - jsou to techniky jak ovládnout a rozšířit mysl, ovládnout naší životní
                energii, rozvinout lidské kvality jako je přátelství, respekt, štědrost, moudrost atd... Bez toho všeho
                by byla jóga pouhou gymnastikou.</p>
            <p>V JDŽ jsou různé podsystémy:</p>
            <ul>
                <li>Sarvahita ásány - cviky vhodné pro všechny, jakéhokoliv věku a zdravotního stavu,</li>
                <li>Klasické sestavy asán,</li>
                <li>Systém proti bolestem zad,</li>
                <li>Asány na podporu vitality,</li>
                <li>Pranajáma - různé dechové techniky</li>
                <li>Koncentrační cvičení</li>
                <li>Meditace - techniky sebedotazováním</li>
                <li>Nejpokročilejší techniky krijajógy</li>
                <li>Mantrajóga</li>
                <li>Hatajogove krije - očistné techniky</li>
                <li>Satsang - kobinace přednášky, příběhů s ponaučením, zpěv duchovních písní a manter, výklat jógových
                    a jiných filozofických textů, modlitby atd. Vedené autorem systému - Paramhans Svámím
                    Mahéšwaranandou
                </li>
            </ul>
            <p>Chcete vědět více o Systému Jóga v Denním životě? Další informace naleznete <a
                    href="http://www.yogaindailylife.org/system/cs">zde</a>.</p>
        </section>
        <section>
            <h3>Organizační informace</h3>
            <h4>Jak se přihlásit</h4>
            <ol>
                <li>Napíšeš mi do zpráv na Facebooku, nebo email (viz <a href="#kontakty">kontakty</a>).</li>
                <li>Pošleš zálohu 500 Kč (nevratná) nebo rovnou zaplatíš permici a máš místo jisté. Dokud nezaplatíš,
                    tak s tebou nepočítám, ani ti nerezervuji místo.
                </li>
            </ol>

            <h4>Způsob platby</h4>
            <p>Peníze mi buď pošleš na účet 1034231020/3030, do zpráv pro příjemce napíšeš jméno a den cvičení, nebo mi
                to dáš v hotovosti.</p>

            <h4>Storno</h4>
            <p>Když z nějakého důvodu nebudeš moci chodit a už budeš mít zaplacenou permici, tak ti vrátim peníze za
                permici mínus záloha 500 Kč.</p>

            <h4>Náhrady nevychozených lekcí</h4>
            <p>Vzhledem k jednomu otevřenému kurzu, budou náhrady kompenzovány formou slevy na příští permici.</p>
            <p>Sleva na další permici:</p>
            <ul>
                <li>chybíš 3x - odečtu 3 vstupy,</li>
                <li>chybíš 2x odečtu 2 vstupy,</li>
                <li>chybíš 1x odečtu 1 vstup,</li>
                <li>ale když chybíš 4x a více náhrada je 0 - permice jde na humanitární účely...</li>
            </ul>
            <!--<p>V období, kdy ti platí permice (tj. buď září - prosinec 2017 nebo leden - únor 2018), si můžeš nahradit-->
            <!--cvičení jakýkoliv jiný den od pondělí do středy. Kolikrát chybíš, tolik máš náhrad. Náhrady jsou-->
            <!--nepřenosné na jinou osobu.</p>-->
            <!--<p>Náhrady mimo platnost permice:</p>-->
            <!--<ul>-->
            <!--<li>z permice září - prosinec 2017 jsou přenositelné max 3 vstupy a to pouze do ledna 2018, kdy si je-->
            <!--můžeš vychodit a nezapočítávají se do permice leden - únor (tzn. že si je vychodíš navíc, nijak se-->
            <!--nesčítají ani neodečítají od následující permice). Náhrady jsou přenosné na jinou osobu, např.-->
            <!--vhodné pro nové zájemce jako volný vstup na zkoušku.-->
            <!--</li>-->
            <!--<li>z permice leden - únor 2018 jsou přenositelné max 2 vstupy a to pouze do 1. měsíce následujícího-->
            <!--období ("letní semestr" - termíny budou včas vypsány) a nesčítají se s následující permicí, tzn. že-->
            <!--si je vychodíš navíc. Náhrady jsou přenosné na jinou osobu, např. vhodné pro nové zájemce jako volný-->
            <!--vstup na zkoušku.-->
            <!--</li>-->
            <!--</ul>-->
        </section>
    </section>
    <section id="kontakty">
        <h1>Kontaky</h1>
        <div class="row">
            <div class="large-6 medium-12 small-12 columns">
                <p class="contacts">
                    <span>Ing. Bc. Pavel Vích</span>
                    <span><i class="fi-telephone"></i> <a href="tel:+420776808537">+420 776 808 537</a></span>
                    <span><i class="fi-mail"></i> <a href="mailto:pajavich@gmail.com">pajavich@gmail.com</a></span>
                    <span><i class="fi-social-facebook"></i> <a
                            href="https://www.facebook.com/pavel.vich.71">pavel.vich.71</a></span>
                </p>
                <p class="contacts">
                    <span><i class="fi-social-facebook"></i> <a href="https://www.facebook.com/groups/135659809928421/">Jogamajstri</a> </span>
                </p>
            </div>
            <!--<div class="large-6 medium-12 small-12 columns">-->
            <!--<form>-->
            <!--<fieldset class="fieldset">-->
            <!--<label>-->
            <!--Jméno-->
            <!--<input type="text" name="name"/>-->
            <!--</label>-->
            <!--<label>-->
            <!--E-mail-->
            <!--<input type="email" name="email"/>-->
            <!--</label>-->
            <!--<label>-->
            <!--Telefon-->
            <!--<input type="tel" name="phone"/>-->
            <!--</label>-->
            <!--<label>-->
            <!--Text-->
            <!--<textarea name="message"></textarea>-->
            <!--</label>-->
            <!--<button class="button" type="submit">Odeslat zprávu</button>-->
            <!--</fieldset>-->
            <!--</form>-->
            <!--</div>-->
        </div>
    </section>

</main>
<!--<footer>-->
<!--<div class="row">-->
<!--<div class="small-12 medium-12 large-12 columns">-->
<!--<p class="text-right">&copy; Copyright 2017</p>-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->

<script>
    function createMap(target, center) {
        var styles = [{
            'stylers': [
                {
                    'hue': '#FF1493'
                }
            ]
        }]
        var styledMap = new google.maps.StyledMapType(styles, {name: 'Styled Map'})

        var map = new google.maps.Map(document.getElementById(target), {
            zoom: 17,
            center: center,
//      disableDefaultUI: true
            scaleControl: true,
            streetViewControl: true,
            mapTypeControl: false,
            panControl: true,
            zoomControl: true,
            scrollwheel: false,
        })
        map.mapTypes.set('map_style', styledMap)
        map.setMapTypeId('map_style')

        var marker = new google.maps.Marker({
            position: center,
            map: map,
//      animation: google.maps.Animation.DROP,
        })
    }

    function initMaps() {
        createMap('tuesday', {lat: 50.103019, lng: 14.453846})
        createMap('thursday', {lat: 50.080020, lng: 14.453040})
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdT6fCKhm_bBZgHHS36q1Vy3GQkdU5wRo&callback=initMaps">
</script>
</body>
</html>