@import 'settings';
@import '~foundation-sites/scss/foundation';
@import '~foundation-icons/foundation-icons.css';
@include foundation-global-styles;
@include foundation-grid;
//@include foundation-flex-grid;
//@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-button-group;
//@include foundation-callout;
//@include foundation-card;
//@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-responsive-embed;
//@include foundation-label;
//@include foundation-media-object;
//@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-sticky;
//@include foundation-reveal;
//@include foundation-switch;
//@include foundation-table;
//@include foundation-tabs;
//@include foundation-thumbnail;
//@include foundation-title-bar;
//@include foundation-tooltip;
@include foundation-top-bar;
//@include foundation-visibility-classes;
//@include foundation-float-classes;

//.thing-with-anchor:before { content: ''; display: block; position: relative; width: 0; height: 6em; margin-top: -6em }

.top-bar {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  //background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
  min-width: 100%;
  //height: 6em;

  ul {
    background: none;
  }

  h1 {
    margin: 0;
    font-size: 3em;

    @include breakpoint(small only) {
      font-size: 2em;
    }
  }

  .top-bar-right {
    height:100%;
    vertical-align: middle;

    @include breakpoint(small only) {
      width: auto;
    }
  }

  .menu a {
    white-space: nowrap;

    @include breakpoint(small only) {
      padding: $global-padding / 2;
    }
  }

  .menu a:hover  {
    background-color: $primary-color;
    color: $white;
    border-radius: $global-radius;
  }

  .row {
    @include breakpoint(small only) {
      padding: 0;
    }
  }
}

p {
  text-align: justify;
}

body, html {
  height: 100%;
}

main {
  padding-top: 1em;
}

header {
  min-height: 100%;
  background-image: url("images/Pavel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  background-color: #FFF;
  //background-blend-mode: luminosity, normal;
  //width: 100%;
  //padding-bottom: 75%;

  h2 {
    position: absolute;
    top: 85%; //TODO different position on small screens
    right: 10%;
    //left: 50%;
    color: deeppink;
    transform: translateX(0%) translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    padding: 0.3em;
    border-radius: 0.3em;
    //background-blend-mode: luminosity, normal;
  }
}

.map {
  width: 100%;
  height: 500px;
  margin-bottom: $global-margin;
  border: 0;

  @include breakpoint(small only) {
    height: 300px;
  }
}

.contacts span {
  display: block;
}

.course {
  margin-bottom: $global-margin;

  .group {
    width: 100%;
    border-bottom: 1px solid $medium-gray;
    padding: $global-padding/2;
    @include clearfix
  }

  .group:last-child {
    border-bottom: 0;
  }

  .header {
    display: block;
    width: 35%;
    vertical-align: top;
    float: left;
    font-weight: bold;
  }

  .description {
    display: block;
    max-width: 65%;
    float: left;
    text-align: justify;
  }

  .notice {
    color: red;
    font-size: 0.75em;
  }
}

.notice {
  color: red;
}

fieldset > :last-child {
  margin-bottom: 0;
}

